<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homeApp/css/style.css' %}">
</head>
<body>
    <h1>Welcome to My Website</h1>
    <h2><a href="{% url 'staff_list' %}" >Staffs Main Menu</a></h2>
    <h2><a href="{% url 'branch_list' %}">Branches Main Menu</a></h2>
    <h2><a href="{% url 'client_list' %}">Clients Main Menu</a></h2>
    <script src="{% static 'homeApp/js/script.js' %}"></script>
</body>
</html>
