/* static/styles.css */
body {
    font-family: Arial, sans-serif;
}

form {
     .form-box {
        margin: 20px;
        padding: 20px;
        border: 1px solid #000;
    }
    .input-group {
        margin-bottom: 10px;
    }
    .input-group label {
        display: block;
        margin-bottom: 5px;
    }
    .input-group input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }
    .button-group {
        text-align: right;
    }
    button {
        padding: 10px 15px;
        border: none;
        background-color: #333;
        color: white;
        cursor: pointer;
    }
    .cancel {
        background-color: #999;
    }
}
